/*【推擠空間用標籤】*/

/*margin左推*/
.ml-16{margin-left: 16px;}

/*margin上推*/
.mt-16{margin-top: 16px;}
.mt-24{margin-top: 24px;}
.mt-28{margin-top: 28px;}
.mt-32{margin-top: 32px;}
.mt-40{margin-top: 40px;}
.mt-48{margin-top: 48px;}
.mt-56{margin-top: 56px;}
.mt-68{margin-top: 68px;}

/*特定位置不推擠空間*/
.mb-0{
    margin-bottom: 0px;
}